html, body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}
.container {
  width: 60%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 10px; */ /* Contoh untuk gap kolom */
  /* row-gap: 10px; */ /* Contoh untuk gap baris */
  gap: 10px; /* Contoh untuk gap kolom dan baris */
}
.item {
  background-color: rgb(138, 209, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:nth-child(even) { /* nth-child(even) item yang genap */
  background-color: rgb(255, 142, 142);
}
