html, body {
  margin: 0;
  padding: 0;
  background-color: #ddd;
}
.container {
  width: 600px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr min-content 1fr /* min-content akan dipecah tiap2 kata, max-content tidak dipecah kalimat */
}
.item {
  background-color: rgb(138, 209, 254);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item:nth-child(even) { /* nth-child(even) item yang genap */
  background-color: rgb(255, 142, 142);
}
